@import "bourbon"

// colors vars
$white: #ffffff
$black: #333333
$orange: #FF7900
$light-orange: #F6A462
$blue: #00A5E6
$red: #E12228

$gray: #cccccc
$light: #838383
$gray-light: #F5F5F5
$gray-black: #BFBFBF

$plane: #00DDB9
$bus: #7990E3
$car: #8CCF45

// fonts vars
$flg: 22px
$fmd: 16px
$fsm: 14px
$fx: 12px
$fxs: 10px

// icon size vars
$ilg: 40px
$imd: 22px
$ism: 17px
